<div id="tileEditor">
  <b>EDITOR</b>
  <br/>
  Selected tile: <span class="selTile">{{ tiledCoreService.selectedTile }}</span>
  &nbsp;&nbsp;&nbsp;
  <button mat-flat-button color="accent" *ngIf="tiledCoreService.getTileData(tiledCoreService.selectedTile)" (click)="clearTile()">Remove</button>
  
 
<div></div>
<div *ngIf="tiledCoreService.getTileData(tiledCoreService.selectedTile)">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="labelText" placeholder="Label Text" value="">
    </mat-form-field>
<br/>
<mat-form-field>
  <mat-select placeholder="Tile Image" [(ngModel)]="imageName">
    <mat-option *ngFor="let tileType of tileTypes" [value]="tileType">
      {{tileType}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="backgroundColor" placeholder="Background Color" value="">
    </mat-form-field>
<br/>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="statusColor" placeholder="Status" value="">
    </mat-form-field>
    &nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="saveTile()">Save</button>
</div>
 
</div>
