#tileEditor {
    background: #efefef;
    padding:20px;
    max-width:750px;
    font-size:12px;
    font-family:arial;
}

.selTile {
    background-color: yellow;
}

.example-full-width {
    width:100%;
}