<mat-card id="tileControls">
  
  <table>
    <tr >
        <td>
            <span class="mdi mdi-magnify mdi-24px"></span>
        </td>
        <td>
            <mat-button-toggle-group style="width:100%">
                <button mat-button (click)="zoomIn()" style="width:30px">
                    <span class="mdi mdi-plus mdi-18px"></span>
                </button>
                <span style="padding-top:12px" >
                    {{ tiledCoreService.zoomLevel }}00%
                </span>
                <button mat-button (click)="zoomOut()">
                    <span class="mdi mdi-minus mdi-18px"></span>
                </button>
              </mat-button-toggle-group>
        </td>
    </tr>
    <tr style="vertical-align: middle">
      <td>
        <span class="mdi mdi-information mdi-24px" style="color:darkgreen"></span>
      </td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedKpi" style="width:100%">
          <mat-button-toggle value="andon">
            Andon
          </mat-button-toggle>
          <mat-button-toggle value="oee">
            OEE
          </mat-button-toggle>
          <mat-button-toggle value="none">
            [Off]
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>
    </tr>
  </table>
 
</mat-card>
