<div id="tileControls">
  
  <table>
    <tr style="vertical-align: middle">
      <td>
        <span class="mdi mdi-information mdi-24px" style="color:darkgreen"></span>
      </td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedKpi" style="width:100%">
          <mat-button-toggle value="andon">
            Andon
          </mat-button-toggle>
          <mat-button-toggle value="oee">
            OEE
          </mat-button-toggle>
          <mat-button-toggle value="none">
            [Off]
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>
    </tr>
  </table>
 
</div>
