
<div id="tileCanvas">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
                
                <span class="mdi mdi-eye-outline space-right"></span>

                <mat-select class="toolbarSelect" (selectionChange)="focusTo($event)" placeholder="Select object" [(ngModel)]="selectArea">
                    <mat-option *ngFor="let areaType of areaTypes" [value]="areaType">
                    {{areaType}}
                    </mat-option>
                </mat-select>

                <span class="mdi mdi-select-drag space-right space-left"></span>

                <mat-select class="toolbarSelect" placeholder="Select object" [(ngModel)]="selectUnitType">
                    <mat-option *ngFor="let unitType of unitTypes" [value]="unitType">
                    {{unitType}}
                    </mat-option>
                </mat-select>

                <span class="space-left">{{ selectedObjectName }}</span>
           
        </mat-toolbar-row>
    </mat-toolbar>

    <canvas #tileCanvas (click)="onClick($event)"></canvas>

    <mat-card [@zoomStatus]="zoomIn" class="propertiesSheet">
        <table style="width:100%">
            <tr style="vertical-align: top">
                <td>
                    Properties
                </td>
                <td style="text-align:right">
                    <span style="right:0" class="mdi mdi-close" (click)="zoomIn = 'invisible'"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="color:#ccc;padding-top:10px;">
                    put Machine info (like OEE, status) here.
                </td>
            </tr>
        </table>
    </mat-card>

</div>

<!-- preload images before canvas is rendered, note the load event on the last image! -->
<img src="assets/tiles/machine.svg" width="0"/>
<img src="assets/tiles/conveyor.svg" width="0"/>
<img src="assets/tiles/paletts_big.svg" width="0"/>
<img src="assets/tiles/door_north_south.svg" width="0"/>
<img src="assets/tiles/door_west_east.svg" width="0"/>
<img src="assets/tiles/paletts.svg" width="0"/>
<img src="assets/tiles/road_right.svg" width="0"/>
<img src="assets/tiles/road_left.svg" width="0"/>
<img src="assets/tiles/machine_red.svg" width="0"/>
<img src="assets/tiles/agv_south.svg" width="0"/>
<img src="assets/tiles/agv_west.svg" width="0"/>
<img src="assets/tiles/road_crossroad_e_s_w.svg" width="0"/>
<img src="assets/tiles/warehouse.svg" width="0"/>
<img src="assets/tiles/wall_left.svg" width="0"/>
<img src="assets/tiles/wall_right.svg" width="0"/>
<img src="assets/tiles/shelf_right.svg" width="0"/>
<img src="assets/tiles/shelf_left.svg" width="0" (load)="imagesReady()"/>
